@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}

header nav img {
    width: 80px;
    margin-left: 50px;
    margin-top: 10px;
}

nav{
    background-color: #feffde;
}
nav section  {
    float: right;
    margin-top: 10px;
}

nav section a{
    margin-top: 30px;
    padding-top: 50px;
    padding-right: 10px;
    color: rgb(90, 70, 90);
}

.sec_mergin {
    display: flex;
    background-color: #ddffbc;
    padding: auto;
    width: 100%;
    height: 100%;
    margin: 20px;
}

section p {
    text-align: left;
    padding-left: 20px;
    width: 50%;
    height: 50%;
    
}

 section img {
     margin: 10px;
   padding-right: 10px;
    width: 30%;
    height: 30%;
   
}

.sec {
     display: flex;
    width: 200%;
    height: 200%;
    background-color: #ddffbc;
    margin: 20px;
    padding-top: 20px;
}
section table {
    
    padding-top: 10px;
    margin-top: 10px;
    width: 20%;
    height: 20%;
    float: left;
}
section ul,ol{

    width: 10%;
    height: 10%;
    padding-top: 10px;
    margin-top: 10px;
    float: right;
}
.sec_form{
    display: flex;
    background-color: #ddffbc;
}
form * {

    width: 20%;
    height: 20%;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    float: left;
}
form button{
    height: 35%;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #52734d;
    color: white;
}
.sec_foot {
    text-align: center;
    color: #feffde;
}
footer p{
    text-align: center;
    color: #feffde;

}


